{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Category:allCategories{% endblock %}

{% block body %}
    <h1>Kategorie</h1>

    Dodaj nową: {{ render(controller('BoardBundle:Category:createCategory')) }}

    {% for category in categories %}
       <p> {{ category.name }} </p>
    {% endfor %}


{% endblock %}
