{% extends "::base.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>Kategoria: {{ category.name | upper }}</h1>
    <div class="middle">

        Sortuj: <a href='{{ path('showCategory', {'id': category.id }) }}'>Od najnowszego</a>
    </div>

    <div class="table-responsive">
        <table class="table">

            <tr class="no">
                <td>Zdjęcie</td>
                <td>Tytuł</td>
                <td>Opis</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>Właściciel</td>
                {% endif %}
            </tr>

            {% for ad in ads %}

                {% include 'BoardBundle:Ad:showAdShort.html.twig' with {'id' : ad.id } %}

            {% endfor %}

        </table>
    </div>


{% endblock %}
