{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Category:showCategory{% endblock %}

{% block body %}
    <h1>Kategoria: {{ category.name | upper }}</h1>

    {% for ad in category.ads %}
        {{ ad.title }}

    {% endfor %}


{% endblock %}
