{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Ad:createAd{% endblock %}

{% block body %}

    <h1>Nowe ogłoszenie: </h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
